* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Carrois Gothic SC';
    background: url("file:///Users/lauragroot/Development/Code/Assignment2/wedding-invitation-previewer/CSS/pageBackground.png");
  }

  h1 {
    font-family: 'Bad Script';
    text-align: center;
    font-size: 40px;
  }

  h2 {
    font-family: 'Bad Script';
    text-align: center;
    font-size: 1.8vw;
  }

  h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Bad Script';
  }

  h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
  }

  /* Style the buttons*/
  .button {
    background: url("file:///Users/lauragroot/Development/Code/Assignment2/wedding-invitation-previewer/CSS/buttonBackground2.png");
    border-color: rgb(159, 184, 174);
    border-style: solid;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;

  }

  .button2 {
    background-color: rgb(217, 224, 222);
    border-color: rgb(101, 126, 116);
    border-style: solid;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;

  }

  /* Style the header */
  .header {
    padding: 1px;
    text-align: center;
  }

/* Container holding the image and the text */
  .container {
    position: relative;
    text-align: center;
    color: rgb(198, 141, 119);
    display: inline-block;
    padding: 0.5vw 1vw;
  }

/* Style for invite text */
  .inviteTextLive {
    position: absolute;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: black;
    width: 50%;
    top: 12%;
    left: 25%;
    font-family: 'Benne';
    display: table;
  }

   /* Style the images*/
 .center {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    top: 50%;
    left: 40%;
  }

  /* Four columns that float */
  .column {
    float: left;
    padding: 10px;
    height: 100%;
  }
  
  /* Left column */
  .column.left {
    width: 20%;
    height: 750px;
    background-color: rgb(222, 145, 114, 0.95);
  }
  
  /* Left  middle column */
  .column.middle {
      width: 20%;
      height: 750px;
      background-color: rgb(222, 145, 114, 0.8);
      text-align: center;
  }

  /* Right middle column */
  .column.middleTwo {
    width: 40%;
    height: 750px;
    background-color: rgb(222, 145, 114, 0.7);
  }

  /* Right column */
  .column.right {
    width: 20%;
    height: 750px;
    background-color: rgb(222, 145, 114, 0.6);
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-family: 'Bad Script'
  }